<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBr7bYlaj6qYrHQk3x5UyvwKMq59AIJn2I</string>
	<key>GCM_SENDER_ID</key>
	<string>1070699439998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alergenApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alergenapp-882bb</string>
	<key>STORAGE_BUCKET</key>
	<string>alergenapp-882bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070699439998:ios:75e8959cfb9ecb593ef52f</string>
</dict>
</plist>